header {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.headerH1 {
  margin: 3px;
  font-size: 40px;
}

.navbar-but {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.login-but {
  border: none;
  background: black;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  padding: 5px 20px;
  margin: 5px 10px;
}

.signup-but {
  border: none;
  cursor: pointer;
  background: white;
  color: black;
  text-align: center;
  line-height: 40px;
  padding: 5px 20px;
  margin: 5px 20px;
}